.main_container {
    margin-top: 45px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 70% 25% ;    
}

.courses_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 5% 5% 5%;  
    gap: 3%;      
}

.main_container .side_bar_container {
    border: 1px solid  #cfd0e6 ;      
    border-radius: 10px;    
    box-shadow: 5px 5px 5px rgb(235, 233, 233);
    padding: 30px; 
    margin-bottom: 5%;     
}

@media screen and (min-width: 0px ) and (max-width: 575px) {    /* Device: Surface duo */
    .courses_container {
        grid-template-columns: 1fr;
        margin: 0 5% 0 5%;    
    }
}

@media screen and (min-width: 576px ) and (max-width: 767px) {  /* Device: Surface duo, landscape */
    .courses_container {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 5% 0 5%;    
    }
}

@media screen and (min-width: 768px ) and (max-width: 991px) {  /* Device: Ipad Air */
    .courses_container {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 6% 0 6%;    
    }
}
