
.checkout_main_container {
    margin-top: 45px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 70% 25% ;    
}

.checkout_main_container .side_bar_container {
    border: 1px solid  #cfd0e6 ;      
    border-radius: 10px;    
    box-shadow: 5px 5px 5px rgb(235, 233, 233);
    padding: 30px;     
}

.checkout_details {
    margin: 0 5% 0 5%;  
    border: 1px solid  #cfd0e6 ;      
    border-radius: 10px;    
    box-shadow: 5px 5px 5px rgb(235, 233, 233);
    padding: 30px; 
}
.checkout_details img {
    height: 100px;
    width: 185px;
    border: 1px solid  #cfd0e6 ;      
    border-radius: 10px;    
    box-shadow: 5px 5px 5px rgb(235, 233, 233);
    margin: 20px 20px 0 20px;
}
.checkout_details img:hover {
    height: 100px;
    width: 185px;
    border: 1px solid  rgb(255, 41, 41) ;      
    border-radius: 10px;    
    box-shadow: 5px 5px 10px rgb(255, 135, 135);
    margin: 20px 20px 0 20px;

}

.side_bar_container .course_img {    
    /* height: 100%;     */
    max-width: 250px ;
    margin-left: 5%;
    margin-right: 10%;
    background-color: #D9DAEB;
    border: 1px solid  #000000 ;      
    border-radius: 10px;
}

