.question-container {
    border: 1px solid  #e2e3eb;
    border-radius: 10px;    
    box-shadow: 5px 5px 5px rgb(218, 215, 215);
    padding: 10px 35px 20px 35px;    
    margin: 0px 24% 30px 24%;
}

.question-container h6 {    
    color: #5D5FEF;
    margin-bottom: 20px;
}

.question-header-container{
    display: grid;
    grid-template-columns: 29fr 1fr;
    gap: 15px;
    
    /* display: flex;
    justify-content: space-between; */
}
.eye-icon {
    height: 20px;
    width: 20px;    
    margin-top: 10px;
    cursor: pointer;    
}


.option-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.option-container div {
    display: flex;    
    align-items: center;
    text-align: left;

    height: 75px;
    border: 1px solid  #7e80e4;
    border-radius: 10px;
    padding: 10px 5px;
}
.option-container div:hover {
    background-color:  #d9daeb; 
}
.option-container small {
    margin-left:10px;
    font-size: 0.871em;
}
.option-container input {
    cursor: pointer;
}



@media screen and (min-width: 0px ) and (max-width: 575px) {    /* Device: Surface duo */
    .question-container {        
        margin: 0px 7% 30px 7%;
    } 
    .option-container {        
        grid-template-columns: 1fr;     
    }   
}

@media screen and (min-width: 576px ) and (max-width: 767px) {  /* Device: Surface duo, landscape */
    .question-container {        
        margin: 0px 18% 30px 18%;
    }
    .option-container {       
        grid-template-columns: 1fr;     
    }  
}

@media screen and (min-width: 768px ) and (max-width: 991px) {  /* Device: Ipad Air */
    .question-container {        
        margin: 0px 14% 30px 14%;
    }
}   